<div class="modal__container">
  <div [class.modal__content_container_hide]="!showForm" class="modal__content_container">
    <h2>Create a new item</h2>
    <form (submit)="this.submitForm();" [formGroup]="this.form" class="modal__form_container">
      <fieldset>
        <label for="title_input">Title</label>
        <input [class.invalid]="this.form.get('title')?.touched && !this.form.get('title')?.valid" formControlName="title" id="title_input" type="text">
        <small *ngIf="this.form.get('title')?.touched && this.form.get('title')?.errors?.['required']">The title field is required</small>
      </fieldset>
      <fieldset>
        <label for="description_input">Description</label>
        <input [class.invalid]="this.form.get('description')?.touched && !this.form.get('description')?.valid" formControlName="description" id="description_input" type="text">
        <small *ngIf="this.form.get('description')?.touched && this.form.get('description')?.errors?.['required']">The description field is required</small>
      </fieldset>
      <div class="modal__form_buttons_container">
        <button (click)="doCloseModal();" type="button" class="modal__form_cancel_btn">Cancel</button>
        <button *ngIf="this.modalData" (click)="this.deleteItem();" type="button" class="modal__form_delete_btn">Delete</button>
        <button [disabled]="!this.form.dirty || !this.form.valid" type="submit" class="modal__form_save_btn">Save</button>
      </div>
    </form>
  </div>
</div>
