<div class="withlist__container">
  <div class="withlist__list_container">
    <div class="withlist__list_header">
      <h2>Wishlist</h2>
      <div class="withlist__list_header_button_container">
        <button (click)="showModal = true">
          Add new item
          <img src="assets/images/plus-solid.svg" alt="Icon to add new item">
        </button>
        <button>See all</button>
      </div>
    </div>
    <ul class="withlist__items_list_container">
      <li *ngFor="let item of itemsList; let i = index" (mouseover)="activeWishListItem = i"
        (mouseout)="activeWishListItem = null">
        <div class="withlist__list_item">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <div [class.withlist__list_item_button_active_container]="activeWishListItem == i"
            class="withlist__list_item_button_container">
            <button>See details</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-container *ngIf="showModal">
  <app-modal (closeModal)="closeModal()"></app-modal>
</ng-container>
