<header class="header__container">
  <div class="header__brand_container">
    <img
      class="header__brang_img"
      src="../../../assets/images/cart-shopping.svg"
      alt="Icon of shopping cart"
    >
  </div>
  <nav class="header__navigation_container">
    <ul class="header__navigation_links">
      <li
        routerLink="/dashboard"
        routerLinkActive="active"
        class="header__navigation_link"
      >Dashboard</li>
      <li
        routerLink="/wishlist"
        routerLinkActive="active"
        class="header__navigation_link"
      >Wishlist</li>
    </ul>
  </nav>
</header>
