<div class="dashboard__container">
  <div class="dashboard__list_container">
    <div class="dashboard__list_header">
      <h1>Dashboard</h1>
    </div>
    <div class="dashboard__list_header">
      <h2>Wishlist</h2>
      <div class="dashboard__list_header_button_container">
        <button routerLink="/wishlist" class="dashboard__list_header_see_more_btn">See all</button>
      </div>
    </div>
    <ul class="dashboard__items_list_container">
      <li *ngFor="let item of wishlistItems; let i = index" (mouseover)="activeWishListItem = i"
        (mouseout)="activeWishListItem = null">
        <div class="dashboard__list_item">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <div [class.dashboard__list_item_button_active_container]="activeWishListItem == i"
            class="dashboard__list_item_button_container">
            <button (click)="this.openModal(item)">See details</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-container *ngIf="showModal">
  <app-modal [modalData]="modalData" (updateList)="this.getItems();" (closeModal)="this.closeModal()"></app-modal>
</ng-container>
